/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2019, 3:48:56 PM
    Author     : pdarrell
*/

#timeframeSel:click
{
    background-color: lightgrey;
}

.leftDiv
{
    float: left;
}

.rightDiv
{
    float: right;
}

.container
{
    position: relative;
    width: 48%;
    height: auto;
    padding: 10px;
    perspective: 1000px;
}

.card
{
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 1px solid green;
    margin: 0 auto;
    transition: all 1s ease;
    transform-style: preserve-3d;
    
}

.card:hover {
    transform: rotateY(180deg);
}

.lightblue
{
    background-color: lightblue;
}

.lightgrey
{
    background-color: lightgrey;
}

#board{
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.link
{
    word-wrap: break-word;  
}

.front
{
    
}

.back
{
    transform: rotateY(180deg);
    
}

.front, .back
{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    backface-visibility: hidden;
}