/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body 
{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

#banner
{
    background-color: #efff1c;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .2rem;
    margin: 0;
}

.hideBanner
{
    display: none;
}

.showBanner
{
    display: block;
}

header 
{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    padding: .1rem;
    text-align: left;
    display: flex;
    justify-content: left;
}

header h1 
{
    font-size: 1.3rem;
}

header h2 
{
    font-size: 1rem;
}

header img 
{
    float: left;
    width: 80px;
    padding: 0;
    margin: 0;
}

nav 
{
    font-size: 16px;
}

nav button 
{
    margin: .1rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;

}

nav ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0 2%;
}

nav ul li a 
{
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    font-size: 1.3rem;
    padding: .1rem;
    margin: .1rem 0 0 2%;
}

nav ul li.active a
{
    background-color: #efff1c;
    color: black;
}

nav ul li a:hover 
{
    background-color: #001ac9;
}

nav ul.hide
{
    display: none;
}

main div
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #93d2ea;
    margin: .8rem;
    
}

main h1 
{
    padding: 0 .8rem 0 .8rem;
    text-align: left;
}

main div section 
{
    display: block;
    text-align: center;
    background-color: #efff1c;
    margin: .8rem;
    border: 1px solid #001ac9;
}

main div section div 
{
    background-color: #efff1c;
}

main div section div h2 
{
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: .8rem .8rem 0 .8rem;
    line-height: 1rem;
}

main div section div h3 
{
    padding: 0;
    margin: .7rem .8rem .8rem .8rem;
    line-height: 1rem;
}

main div section div h2, h3, p 
{
    text-align: center;
}

main div section img
{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

footer 
{
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    padding: 1rem;
}

footer div 
{
    position: relative;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

#headerWrapper
{
    background-color: #93d2ea;
    width: 100%;
}

#navWrapper
{
    background-color: #93d2ea;
    width: 100%;
}

#footerWrapper
{
    background-color: #93d2ea;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  