@media only screen and (min-width: 35em) 
{

    header h1 
    {
        font-size: 2rem;
    }

    header h2
    {
        font-size: 1.5rem;
    }

    header img 
    {
        width: 120px;
        padding: 1rem .3rem 0 .3rem;
    }

    nav 
    {
        text-align: center;
    }

    nav button
    {
        display: none;

    }

    nav ul 
    {
        list-style-type: none;
        padding: 0;
        margin: 0 .8rem 0 .8rem;
    }

    nav ul li 
    {
        display: inline;
        padding: .5rem  0 .5rem 0;
        border-right: 1px solid #665959;
    }

    nav ul li a 
    {
        display: inline-block; 
        padding: .5rem .5rem .5rem 0;
        margin: 0;
        font-size: 1.3rem;
        justify-content: left;
    }

    nav ul.hide
    {
        display: block;
    }

    img 
    {
        max-width: 1024px;
    }    

    main div h2
    {
        text-align: center;
        padding: .5rem;
    }

    main div form section 
    {
        width: 98%;
        margin: .5rem;
    }
   
    main div form section label 
    {
        text-align: center;
        padding: .5rem .5rem .5rem .5rem;
    }

    main div form section input, select 
    {
        margin: 0;
    }

    main div form section textarea 
    {
        margin: 0;
    }

    main div form section div 
    {
        text-align: center;
        padding: .5rem;
        margin: 0;
        font-size: 1rem;
        
    }

    main div form section div label
    { 
        text-align: center;
        font-size: 1rem;
    }

    footer .sitemap img
    {
        width: auto;
    }
    
}