
.blueBackground
{
    background-color: lightblue;
    border-radius: .3em;
}

.leftAlign
{
    text-align: left;
    padding: 0 0 0 15px;
}

.centerAlign
{
    text-align: center;
}

.center
{
    max-width: 50%;
    margin: 0 auto;
}

.floatRight
{
    float: right;
}

.imgSize
{
    max-width: 20%;
    min-width: 10%;
    height: auto;
    padding: 0 10px;
    margin: -4em .2em;
}

hr
{
    width: 90%;
}

.whiteColor
{
    color: white;
}

.header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: .1px 0 .1px 0;
}

.footer
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1px 0 1px 0;
    margin: 1px 0 1px 0;
}
