
.blueBackground
{
    background-color: lightblue;
}

.leftAlign
{
    text-align: left;
    padding: 0 0 0 15px;
}

.centerAlign
{
    text-align: center;
}

body
{
    max-width: 90%;
    margin: 0 auto;
}

.imgSize
{
    max-width: 15%;
    min-width: 5%;
    height: auto;
    padding: .4em .1em;
    margin: .1em .1em;
}

hr
{
    width: 90%;
}

.whiteColor
{
    color: white;
}

.header
{
    font-family: 'Barlow', sans-serif;
    font-size: 8pt;
    text-size-adjust: 0.5;
    padding: .1em 0 1em 0;
    margin: .1em 0 1em 0;
}

.footer
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    padding: 1em 0 1em 0;
    margin: 1em 0 1em 0;
}

h2
{
    font-family: 'Barlow', sans-serif;
    font-size: 12pt;
    text-size-adjust: 0.5;
}

#copyright
{
    padding: .5em;
}

