@media only screen and (min-width: 60em) 
{
    
    header, nav, main, footer 
    {
        max-width: 1024px;
        margin: 0 auto;
    }
    
    main div
    {
        grid-template-columns: 1fr 1fr 1fr;
    }


}