@media only screen and (min-width: 60em) 
{
    nav ul 
    {
        margin-left: 30%;
    }
    
    nav ul li a 
    {
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
    }

    #sitename img 
    {
        width: auto;
        padding: 0 0rem 0 10rem;
    } 

    #colorscheme img 
    {
        padding: 0 0rem 0 20rem;
    }
}