@media only screen and (min-width: 35em) 
{

    header h1 
    {
        font-size: 2rem;
    }

    header h2
    {
        font-size: 1.5rem;
    }

    header img 
    {
        width: auto;
    }

    nav 
    {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    nav ul li 
    {
        display: inline;
        padding: 0 1rem;
        margin: 0;
    }

    nav ul li a 
    {
        display: inline-block;
        padding: 1rem 1rem;
    }

    #sitename img 
    {
        width: 600px;
        margin: 0;
    } 

    #colorscheme img 
    {
        width: 60rem;
        padding: 0 10rem;
        margin: 0;
    }
    
    #headerSample
    {
        font-family: 'Barlow', sans-serif;
        font-size: 2rem;
    }

    #primnavSample 
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
    }

    #footnavSample
    {
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
    }

    #head1Sample
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    #head2Sample, #head3Sample, #paraSample
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

}