/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2019, 3:48:56 PM
    Author     : pdarrell
*/

#timeframeSel:click
{
    background-color: lightgrey;
}

.leftDiv
{
    float: left;
}

.rightDiv
{
    float: right;
}

.container
{
    position: relative;
    width: 48%;
    height: auto;
    padding: 10px;
    perspective: 1000px;
  
}

.card
{
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 1px solid green;
    margin: 0 auto;
    /* transition: all 1s ease;
    transform-style: preserve-3d;
    -webkit-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    transition: transform 1.5s; */
   
    
}

.front:focus
{   
     -webkit-animation-play-state: inherit !important;
     -moz-animation-play-state: inherit !important;
     animation-play-state: inherit !important;
    
    -webkit-animation: explodingBox 2s linear;
    -moz-animation: explodingBox 2s linear;
    animation: explodingBox 2s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    animation-direction: normal;    
}

/*.front:hover
{
    background-color: lightgrey;
    transition: all ease-in-out 2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}*/

/*.back:focus
{
    background-color: lightgrey;
    transition: all ease-in-out 2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}*/

.lightblue
{
    background-color: lightblue;
}

.lightgrey
{
    background-color: lightgrey;
}

#board{
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    
}

.link
{
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.front, .back {
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
 -webkit-transition: 0.6s;
         transition: 0.6s;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 position: relative;
 top: 0;
 left: 0;
 }

.front
{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 2px;
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    
    z-index: 2;
}

.back
{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); 
    
    z-index: 0;
}

.centerText
{
    text-align: center;
    padding: 2px;
}

.halfWidth
{
    width: 49%;
    height: auto;
    text-align: center;
    padding: 1px;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

.centerDiv
{
    width: auto;
    height: auto;
    padding: 2px;
    margin: 0 auto;
}

@-webkit-keyframes explodingBox
{
    15%
    {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    30%
    {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
    } 
    50%
    {
        -webkit-transform: scale(1.50);
        -moz-transform: scale(1.50);
        -ms-transform: scale(1.50);
        transform: scale(1.50);
        
    }
    65%
    {
        -webkit-transform: scale(1.60);
        -moz-transform: scale(1.60);
        -ms-transform: scale(1.60);
        transform: scale(1.60);
    }
    80%
    {
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -ms-transform: scale(1.75);
        transform: scale(1.75);
    }
    100%
    {
        -webkit-transform: scale(2.0);
        -moz-transform: scale(2.0);
        -ms-transform: scale(2.0);
        transform: scale(2.0);
       
    }
}

@-moz-keyframes explodingBox
{
    15%
    {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    30%
    {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
    } 
    50%
    {
        -webkit-transform: scale(1.50);
        -moz-transform: scale(1.50);
        -ms-transform: scale(1.50);
        transform: scale(1.50);
        
    }
    65%
    {
        -webkit-transform: scale(1.60);
        -moz-transform: scale(1.60);
        -ms-transform: scale(1.60);
        transform: scale(1.60);
    }
    80%
    {
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -ms-transform: scale(1.75);
        transform: scale(1.75);
    }
    100%
    {
        -webkit-transform: scale(2.0);
        -moz-transform: scale(2.0);
        -ms-transform: scale(2.0);
        transform: scale(2.0);
       
    }
}

@keyframes explodingBox
{
    15%
    {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    30%
    {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
    } 
    50%
    {
        -webkit-transform: scale(1.50);
        -moz-transform: scale(1.50);
        -ms-transform: scale(1.50);
        transform: scale(1.50);
        
    }
    65%
    {
        -webkit-transform: scale(1.60);
        -moz-transform: scale(1.60);
        -ms-transform: scale(1.60);
        transform: scale(1.60);
    }
    80%
    {
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -ms-transform: scale(1.75);
        transform: scale(1.75);
    }
    100%
    {
        -webkit-transform: scale(2.0);
        -moz-transform: scale(2.0);
        -ms-transform: scale(2.0);
        transform: scale(2.0);
       
    }
}



