@media only screen and (min-width: 60em) 
{
    
    header, nav, main, footer, div#wireframes 
    {
        max-width: 1024px;
        margin: 0 auto;
    }
    
    main div 
    {
        width: 90%;
        margin: 0 auto;
    }

    main div section
    {
        width: 100%;
        display: block;
    }

    main h1 
    {
        padding: 0 .8rem 0 .8rem;
        text-align: center;
    }

    main div section img
    {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 1rem 0 1rem;
        margin: 0 auto;
    }

    main div section p 
    {
        display: block;
        text-align: center;
    }

    footer 
    {
        margin: .5rem auto;
    }

}